<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      <%= locals.title%>
    </title>
    <link rel="stylesheet" href="/font/fontawesome-free-6.2.0-web/css/all.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
    
  <body>
    <header>
      <%- include('../partials/header') -%>

    </header>
    <main>
      <form method="POST" action="/orders/neworder" enctype="multipart/form-data">
        <div class="container min-vh-100">
          <div class="title text-center border-bottom my-4">
            <h1>Giỏ hàng</h1>
          </div>

          <div class="table-content mt-5">   
          <% if(cartdb != '') { %>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th hidden>
                    id
                  </th>
                  <th scope="col">
                    <input type="checkbox" id="chkall" />
                  </th>
                  <th>Sản Phẩm</th>
                  <th>Đơn Giá</th>
                  <th>Số Lượng</th>
                  <th>Thao Tác</th>
                </tr>
              </thead>

              <tbody>
                <% cartdb.forEach(function(p, index) { %>
                  <tr>
                    <td hidden value="<%- p.id %>">
                      <input type="number" value="<%- p.id %>"  />
                    </td>
                    <td>
                      <input type="checkbox" name="chk" value="<%- p.id %>" />
                    </td>
                    <td>
                      <div class="img-new img-cart" ><img src="/img/<%- p.product_Image %>" loading="lazy" class="img-new img-cart" style="width: 100px"></div>
                      <p><%- p.nane_product %></p>
                    </td>
                    <td>
                      <%- p.price %>vnđ
                    </td>
                    <td>
                      <%- p.amount %>
                    </td>
                    <td>
                      <a  href="/cart/delete/<%- p.id %>">
                        <button type="button" class="btn btn-warning" id="remove-product-btn">Xóa</button>
                      </a>
                    </td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
          </div>

          <div class="group-op d-none mt-5">
            <button class="btn btn-primary group-op-delete" >Mua ngay</button>
          </div>

          <% } else { %>
              <h1></h1>
              <h1></h1>
              <h1></h1>
              <h1></h1>
              <h2 class="text-center">Giỏ hàng của bạn còn trống</h2>
              <% } %>
        </div>
      </form>
    </main>
  
    <footer>
      <%- include('../partials/footer') -%>
    </footer>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/product_list.js"></script>
    <script>
      //
      var chks = document.getElementsByName("chk");
      for (let i = 0; i < chks.length; i++)
        chks[i].onchange = function () {
          if (this.checked) {
            this.parentNode.parentNode.classList.add("selectedr");
            let c = document.getElementsByName("chk");
            let j = 0;
            for (; j < c.length; j++) if (!c[j].checked) break;
            if (j == c.length) document.getElementById("chkall").checked = true;
            else document.getElementById("chkall").checked = false;
            document.querySelector("div.group-op").classList.remove("d-none");
          } else {
            this.parentNode.parentNode.classList.remove("selectedr");
            document.getElementById("chkall").checked = false;
            let c = document.getElementsByName("chk");
            let j = 0;
            for (; j < c.length; j++) if (c[j].checked) break;
            if (j == c.length)
              document.querySelector("div.group-op").classList.add("d-none");
            else document.querySelector("div.group-op").classList.remove("d-none");
          }
        };

      //
      document.getElementById("chkall").onchange = function () {
        let c = document.getElementsByName("chk");
        for (let i = 0; i < c.length; i++) {
          c[i].checked = this.checked;
          if (c[i].checked) c[i].parentNode.parentNode.classList.add("selectedr");
          else c[i].parentNode.parentNode.classList.remove("selectedr");
        }
        if (this.checked)
          document.querySelector("div.group-op").classList.remove("d-none");
        else document.querySelector("div.group-op").classList.add("d-none");
      };

      //
      document.querySelector(".group-op-delete").onclick = function () {
        let ProductArray = new Array();
        let c = document.getElementsByName("chk");
        for (let i = c.length - 1; i >= 0; i--)
          if (c[i].checked) {
          console.log(c[i].parentNode.parentNode.firstChild.nodeValue)  ;
          }
      };
    </script>

  </body>

</html>