<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title%></title>
    <link rel="stylesheet" href="/font/fontawesome-free-6.2.0-web/css/all.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style_index_cart.css">
</head>
<body>
    <header>
        <%- include('../partials/header') -%>
    </header>
    <main>
        <div class="container mt-4">
            <h1 class="text-center">Giỏ hàng</h1>
            <div class="row">
              <div class="col col-md-12">
                <% if(cartdb != '') { %>
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col"> <input type="checkbox"></th>
                            <th scope="col">Sản Phẩm</th>
                            <th scope="col">Đơn Giá</th>
                            <th scope="col">Số Lượng</th>
                            <th scope="col">Số Tiền</th>
                            <th scope="col">Thao Tác</th>
                          </tr>
                        </thead>
                        <tbody>
                            <% cartdb.forEach(function(cart, index) { %>
                                <tr>
                                    <td>
                                    <input type="checkbox">
                                    </td>
                                    <td>
                                        <div class="img-new img-cart" ><img src="/img/<%- cart.product_Image %>" loading="lazy" class="img-new img-cart" style="width: 100px"></div>
                                        <p><%- cart.nane_product %></p>
                                    </td>
                                    <td>
                                      <div class="min-price">Khuyến mãi: <%- cart.price %>vnđ</div> 
                                      <div class="text-decoration-line-through">Giá gốc: <%- cart._price %>vnđ</div>
                                    </td>
                                    <td>
                                      <p class="zpjHdRpVY1dQ"><%- cart.amount %></p>
                                    </td>
                                    <td><%- cart.price * cart.amount %> VND</td>
                                    <td>
                                      <a href="/orders/add/<%- cart.id %>">
                                        <button type="button" class="btn btn-success me-5" id="add-product-btn">Mua</button>
                                      </a>
                                      <a  href="/cart/delete/<%- cart.id %>">
                                        <button type="button" class="btn btn-warning" id="remove-product-btn">Xóa</button>
                                      </a>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                <% } else { %>
                    <h2 class="text-center">Giỏ hàng của bạn còn trống</h2>
                <% } %>
              </div>
            </div>
          </div>
    </main>

    <footer>
        <%- include('../partials/footer') -%>
    </footer>

    <!-- javascript -->
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>
