<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= locals.title%>
    </title>
    <link rel="stylesheet" href="/font/fontawesome-free-6.2.0-web/css/all.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/productDetail.css">
</head>

<body>

    <header>
        <%- include('../partials/header') -%>
    </header>
    <main>
        <div class="container min-vh-100">
            <h3 class="text-center my-5">Danh sách đơn hàng của bạn</h3>
            <% if(order !='' ) { %>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Mã đơn hàng</th>
                            <th>Tên người nhận</th>
                            <th>Số điện thoại</th>
                            <th>Địa chỉ</th>
                            <th>Tổng thanh toán</th>
                            <th>Trạng thái</th>
                            <th>Chi tiết đơn</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% order.forEach(function(o, index) { %>
                            <tr>
                                <td>
                                    <%- o.id %>
                                </td>
                                <td>
                                    <%- o.buyer_name %>
                                </td>
                                <td>
                                    <%- o.phone_Number %>
                                </td>
                                <td>
                                    <%- o.address %>
                                </td>
                                <td>
                                    <%- o.cash_payment %>
                                </td>
                                <td>
                                    <% if(o.id_status == 1) { %>
                                        Chưa xác nhận
                                    <% } else if (o.id_status == 2) {%>
                                        Đang xử lý    
                                    <% } else { %>
                                        Đã xuất kho    
                                    <% } %>
                                </td>
                                <td>
                                    <a href="/orders/<%- o.id %>">Chi tiêt</a>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
                <% } else { %>
                    <h1></h1>
                    <h1></h1>
                    <h1></h1>
                    <h1></h1>
                    <h2 class="text-center">Bạn chưa có đơn đặt hàng nào</h2>
                    <% } %>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer') -%>
    </footer>
    <script src="/js/bootstrap.bundle.min.js"></script>

</body>

</html>