<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title%></title>
    <link rel="stylesheet" href="/font/fontawesome-free-6.2.0-web/css/all.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/productDetail.css">
</head>
<body>

    <header>
        <%- include('../partials/header') -%>
    </header>
    
    <main style="margin: 5rem;">
        <h1>Đơn hàng</h1>
        <p>
            Khách hàng: 
            <%- order.buyer_name %>
        </p>
        <p>
            Số điện thoại: 
            <%- order.phone_Number %>
        </p>
        <p>
            Địa chỉ: 
            <%- order.address %>
        </p>
        <p>
            Ghi chú: 
            <%- order.note %>
        </p>
        <p>
            Tổng số tiền: 
            <%- order.cash_payment %> vnđ
        </p>
    </main>
       
    <footer>
        <%- include('../partials/footer') -%>
    </footer>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/owl.carousel.min.js"></script>
</body>
</html>